/*Header*/
header{
    padding: 20px;
}
p{
	color: black;
	font-family: Roboto Regular;
}
.main_menu ul{
	list-style: none;
	text-align: center;
}
.main_menu ul li{
	display: inline-block;
	text-decoration: none;
}
.main_menu ul li a{
	text-decoration: none;
	color: black;
	font-weight: 700;
	padding: 20px;
	font-family: Roboto Medium;
	font-size: 25px;
}
.header_icon ul{
   list-style: none;
}
.header_icon ul li{
	text-decoration: none;
	display: inline-block;
}
.header_icon ul li a{
	text-decoration: none;
	padding: 10px;
}
.header_icon ul li a i{
	font-size: 23px;
	color: black;
}
/*Main Banner*/
.Main_Banner{
	background-image: url(../images/AboutUs_mainbanner.png);
	height: 460px;
	background-repeat: no-repeat;
	background-size: cover;
}
.Main_Banner h1{
	color: white;
	font-family: PlayfairDisplay;
	margin-top: 220px;
	font-weight: 900;
	font-size: 75px;
}
/*Products*/
 .Product img{
 	border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    height: 240px;
    padding: 20px;
 }
 .Product_txt ul{
   list-style: none;
   text-decoration: none;
 }
 .Product_txt ul li{
   display: inline-block;

 }
 .Product_txt ul li a{
 	text-decoration: none;
 	color: black;
 }
 .Product_txt ul li p{
 	font-size: 26px;
    color: red;
    margin: 0 285px 0 -34px;
 }
 .Product_txt p{
 	font-size: 30px;
 }
 .col-lg-4:hover{
 	transform: translateY(-5px);
 }
 .col-lg-4{
 	transition: .5s;
 }
 .Buttons ul{
 	text-decoration: none;
 	list-style: none;
    margin-left: 474px;
    margin-top: 40px;
 }
 .Buttons ul li{
 	text-decoration: none;
 	display: inline-block;
 }
 .Buttons ul li a {
    text-decoration: none;
    color: black;
    background-color: black;
 }
 .Buttons button:hover{
 	background-color: #234f4b;
 	color: white;
 }
 /*Footer*/
.footer{
	background-image: url(../images/footer_background.png);
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 80px 0 0 0;
}
.footer_icon img{
	margin: 260px 0 0 0;
}
.message_info img{
   margin: 100 0 0 0;	
}
.contact_info a{
	text-decoration: none;
	color: white;
	margin: 0 0 60px 10px;
}
.contact_info img{
   margin: 0 9px 0 0;
}
.contact_info p{
	display: inline-block;
	color: white;
    margin: 40px 0 0 0;
}
.footer_nav h3{
    margin: 258px 0 47px 0;
}
.footer_nav ul{
	list-style: none;
}
.footer_nav ul li{
	text-decoration: none;
	margin-bottom: 15px;
}
.footer_nav ul li a{
	color: #8c8c8c;
	text-decoration: none;
}